#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0;

    & .logo {
        font-family: 'SpaceFuture', sans-serif;
        font-size: 24px;
        letter-spacing: 4px;

        & a {
            text-decoration: none;
            color: var(--color-light)
        }
    }

    & nav ul {
        display: flex;
        align-items: center;
        gap: 20px;

        & li {
            list-style: none;

            & a {
                text-decoration: none;
                color: var(--color-light);
                padding: 8px 16px;
                border-radius: 4px;
                transition: background-color 0.3s ease;

                &:hover {
                    background-color: var(--color-primary);
                }

            }
        }
    }

    & .quick-menu {
        display: none;
        background: none;
        border: none;
        font-size: 28px;
        color: var(--color-light);
        cursor: pointer;
        z-index: 1000;
    }
}



@media (max-width: 768px) {
    #header {
        margin: 12px 8px;
        border: 2px dotted var(--color-gray);
        border-radius: 8px;
        background: var(--color-dark);
        padding: 12px 16px;

        & .quick-menu {
            position: fixed;
            bottom: 24px;
            left: 50%;
            transform: translateX(-50%);
            display: flex;
            align-items: center;
            font-size: 16px;
            gap: 8px;
            padding: 10px 18px;
            background: linear-gradient(90deg, var(--color-primary) 0%, var(--color-primary-light) 100%);
            color: white;
            font-weight: 500;
            border: none;
            border-radius: 999px;
            cursor: pointer;
            box-shadow: 0 4px 20px var(--color-primary-light);
            z-index: 1000;
            transition: all 0.3s ease;
        }

        & nav {
            position: fixed;
            top: 0;
            left: 0;
            height: 100dvh;
            width: 100%;
            background: var(--color-dark-gray);
            z-index: 999;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            opacity: 0;
            transform: translateY(-20px);
            pointer-events: none;

            transition: all 0.3s ease;

            &.open {
                opacity: 1;
                transform: translateY(0);
                pointer-events: auto;
            }

            & ul {
                flex-direction: column;
                gap: 24px;
                width: 100%;
                padding: 16px;

                & li {
                    width: 100%;
                    text-align: center;
                    padding: 16px;
                }
            }
        }
    }

}